streamlit
# Replace tensorflow with a compatible version for your Python
tensorflow==<version_number>  # Find compatible version on TensorFlow website
tqdm
numpy
transformers
langchain-community
datasets
sentence-transformers
torch
matplotlib
