streamlit
# Replace tensorflow with a compatible version for your Python
tensorflow==2.15.0   
tqdm
numpy
transformers
langchain-community
datasets
sentence-transformers
torch
matplotlib
mysql-connector-python
h5py==3.10.0
